{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron jumbotron-fluid" id="1">
        <div class="container">
            <h1 class="display-3">Diseño de Paginas Web</h1>
            <p class="lead">Jumbo helper text</p>
            <p>More info</p>
            <a class="btn btn-primary btn-lg" href="{{ url_for ('servicio') }}" role="button">Jumbo action name</a>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Diseño de Paginas Web</h5>
                    <p class="card-text">Paginas adaptables a cualquier pantalla y dispositivo</p>
                    <a href="{{ url_for ('websites') }}" class="btn btn-primary">Leer mas</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Redes</h5>
                    <p class="card-text">Estructura de Red para oficinas, instalacion de rack</p>
                    <a href="{{ url_for ('redes') }}" class="btn btn-primary">Leer mas</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">CCTV</h5>
                    <p class="card-text">Sistemas de Circuito Cerrado con instalacion de camaras y equipos DVR</p>
                    <a href="{{ url_for ('cctv') }}" class="btn btn-primary">Leer mas</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mantenimiento de equipos</h5>
                    <p class="card-text">Manten tus equipos cuidados con nuestros mantenimientos preventivos y
                        correctivos</p>
                    <a href="{{ url_for ('mantenimiento') }}" class="btn btn-primary">Leer mas</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Servidores</h5>
                    <p class="card-text">Venta de Servidores, instalacion y configuracion.</p>
                    <a href="{{ url_for ('productos') }}" class="btn btn-primary">Ver Productos</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Contactanos</h5>
                    <p class="card-text">Cualquier duda o solicitud nos las puedes hacer llegar desde aqui para ofrecer
                        un mejor servicio</p>
                    <a href="{{ url_for ('contacto') }}" class="btn btn-primary">Contactame...</a>
                </div>
            </div>
        </div>

    </div>




{% endblock %}